* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(38, 40, 70);
}

h1 {
  color: white;
  font-size: 70px;
}
.container {
  text-align: center;
  margin-top: 20px;
}
h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px;
}
.box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  font-size: 30px;
  background-color: yellow;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
