* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: darkslateblue;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
  }
  .header {
    background-color: #f7f7f7;
  }
  .header h2 {
    padding: 20px;
    text-align: center;
  }
  .form {
    padding: 20px 30px;
  }
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  .form-control input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #f0f0f0;
  }
  .form-control i {
    position: absolute;
    right: 10px;
    top: 40px;
    visibility: hidden;
  }
  .form-control small {
    position: absolute;
    left: 0;
    margin-top: 5px;
    visibility: hidden;
  }
  .form button {
    display: block;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  .form-control.success input {
    border-color: rgb(48, 207, 48);
  }
  .form-control.success .fa-check-circle {
    visibility: visible;
    color: rgb(48, 207, 48);
  }
  .form-control.error input {
    border-color: red;
  }
  .form-control.error .fa-exclamation-circle {
    color: red;
    visibility: visible;
  }
  .form-control.error small {
    visibility: visible;
    color: red;
  }