* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}
header h1 {
  text-transform: uppercase;
  color: red;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.form-template-1 {
  background-color: #fff;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.form-header-1 {
  color: white;
  background: linear-gradient(to right, orange, red);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-header-1 h {
  color: white;
  padding: 10px 10px;
  font-size: 20px;
}
.form-header-1 .social i {
  color: white;
  font-size: 20px;
  padding: 10px 10px;
}
.form-container-1 {
  padding: 20px; /*to manage line bottom to the text(email or password)*/
}
input[type="email"] {
  outline: none;
  border: none;
  border-bottom: 1px solid gray; /* to add a line, bottom to the text*/
  padding: 10px 0px;
  width: 100%;
}
input[type="password"] {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
  width: 100%;
}
.form-container-1 p {
  text-align: right;
  padding: 10px;
  font-size: 15px;
}

input[type="submit"] {
  text-align: left;
  background-color: grey;
  border: none;
  outline: none;
  border-radius: 19px;
  padding: 10px 20px;
  margin-top: 28px;
  color: white;
}
.form-container-1 p#p2 {
  display: inline-block;
  margin-left: 15px;
}

/*form-template-2*/

.form-template-2 {
  background-color: #fff;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.form-template-2 h1 {
  text-transform: uppercase;
  color: rgb(199, 14, 199);
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.form-container-2 {
  /* to add padding in email and password container*/
  padding: 20px;
}
input[type="checkbox"] {
  margin: 20px 0px;
}
.form-template-3 {
  background-color: #fff;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.form-header-3 h1 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.form-container-3 input[type="email"] {
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px 0px;
  width: 100%;
}
.form-container-3 input[type="password"] {
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px 0px;
  width: 100%;
}
.form-container-2 input[type="checkbox"] {
  margin: 20px 0;
}
.form-container-2 p#p3 {
  display: flex;
  margin-left: 20px;
}
.form-container-2 input[type="submit"] {
  background-color: deeppink;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 25px;
}

.form-footer-2 {
  display: flex;
  justify-content: center;
  background-color: gray;
  height: 77px;
  align-items: center;
}
.form-footer-2 .social i {
  font-size: 20px;
  margin: 10px;
  color: white;
}

/*Container-3*/

.form-container-3 {
  padding: 20px;
}
.form-container-3 p {
  text-align: right;
  font-size: 13px;
  margin-top: 15px;
}
.form-container-3 p#p4 {
  color: black;
  text-align: center;
  margin-top: -5px;
}
.form-container-3 input[type="submit"] {
  color: white;
  width: 100%;
  background: linear-gradient(to right, white, blue);
  display: flex;
  justify-content: center;
}
.form-footer-3 .social {
  display: flex;
  justify-content: center;
}
.form-footer-3 .social i {
  padding: 10px 0px;
  box-shadow: 2px 2px 5px blue;
  color: #3498db;
  width: 70px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 15px;
}
